header {
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

body {
    background-image: url("Images/cloudy-day.png");
}

.col-3 {
    height: 100%;
    padding-bottom: 50px;
}

.cityBreak {
    margin-top: 10px;
}

h5{
    margin-left: 35px;
    margin-bottom: 10px;
}

.cityInput {
    width: 150px;
    margin-left: 20px;
}

.cityList {
    background-color: darksalmon;
    border-radius: 15px 15px 0px 0px;
    box-shadow: black 1px 1px 10px;
    margin-left: 20px;
    width: 225px;
    list-style-type: none;
    margin-left: 20px;
}

.listnone {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 0px;
}

li {
    border-bottom: 1px solid black;
    padding: 10px;
}

.cityInfoDiv {
    margin-top: 10px;
    line-height: 3;
    padding-left: 10px;
    border: solid grey;
    margin-right: 20px;
}

.cityInfoLines {
    margin-left: 20px;
    padding: 10px;
}

.forecast {
    margin-left:0px;
    margin-top: 10px;
}

.greenUV {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.yellowUV {
    background-color: yellow;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.redUV {
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.foreButton {
    background-color: blue;
    color: white;
    width: 200px;
    margin: 15px;
    border-radius: 10px;
}

.foreList {
    list-style-type: none;
    border: none;
    text-align: center;
}

.foreIMG {
    margin-left: 75px;
}

.forecastHeader {
    margin: 10px;
}